@model WarehouseViewModel

@{
    string? start_date_add = Model.Filters.StartAddSate;
    string? end_date_add = Model.Filters.EndAddDate;
    string? start_date_upd = Model.Filters.StartUpdDate;
    string? end_date_upd = Model.Filters.EndUpdDate;
    int? status_id = Model.Filters.Status;
    int? suppliers_id = Model.Filters.SuppliersId;
    string? product_name = Model.Filters.ProductName;
}

<h1>Report Items (@Model.TotalRecords)</h1>

<form asp-action="main" method="get" id="formIndex"></form>

<!-- Filters Fields-->

<form asp-action="filters" method="get" id="formFilters">
<div class="container pt-4 pb-3">
    <div class="row">
        <div class="col-md-10">
            <input type="text" name="searchParam" value="@Model.Filters.SearchString" class="form-control" />
        </div>
            <div class="col-md-2 mx-auto" style="display: inline-block; vertical-align: top;">
            <input type="submit" value="Search" id="btnSearch" class="btn btn-primary" />
            <input type="button" id="btnCancel" class="btn btn-secondary" value="Cancel" />
        </div>
    </div>
</div>
<div class="container pt-4 pb-3">
<div class="row form-row">
    <div class="col-md-10">
        <div class="row form-row">
            <div class="col-md-1 text-end px-0">
            <label class="col-form-label">Status</label>
        </div>
        <div class="col-md-2 col-lg-2">
            <select id="Status" name="Status" class="form-select">
                <option value="">--- select ---</option>
                @foreach (var status in Model.Statuses)
                {
                    var selected_flag = int.Parse(status.Value) == status_id ? "selected" : "";

                    if (!string.IsNullOrEmpty(selected_flag))
                    {

                        <option value="@status.Value" selected="@selected_flag">@status.Text</option>
                    }
                    else
                    {
                        <option value="@status.Value">@status.Text</option>
                    }
                }
            </select>
        </div>
        <div class="col-md-1 text-end px-0">
            <label class="col-form-label">Suppliers</label>
        </div>
        <div class="col-md-2 col-lg-2">
            <select id="SuppliersId" name="SuppliersId" class="form-select">
                <option value="">--- select ---</option>
                @foreach (var supplier in Model.Suppliers)
                {
                    var selected_flag = supplier.Id == suppliers_id ? "selected" : "";
                    if (!string.IsNullOrEmpty(selected_flag))
                    {
                        <option value="@supplier.Id" selected="@selected_flag">@supplier.Name</option>
                    }
                    else
                    {
                        <option value="@supplier.Id">@supplier.Name</option>
                    }
                }
            </select>
        </div>
        <div class="col-md-1 text-end px-0">
            <label class="col-form-label">Products</label>
        </div>
        <div class="col-md-2 col-lg-2">
                <select id="ProductName" name="ProductName" class="form-select">
                <option value="">--- select ---</option>
                @foreach (var product in Model.Products)
                {
                    var selected_flag = product == product_name ? "selected" : "";
                    if (!string.IsNullOrEmpty(selected_flag))
                    {
                        <option value="@product" selected="@selected_flag">@product</option>
                    }
                    else
                    {
                        <option value="@product">@product</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="row form-row pt-4">
        <div class="col-md-1 text-end px-0">
            <label class="col-form-label">From Add</label>
        </div>
        <div class="col-md-2 text-start">
            <div class="input-group date">
                <input id="start_add" name="start_add" maxlength="10" value="@start_date_add" type="date" class="form-control">
            </div>
        </div>
        <div class="col-md-1 text-end px-0">
            <label class="col-form-label">To Add</label>
        </div>
        <div class="col-md-2">
            <div class="input-group date">
                <input id="end_add" name="end_add" maxlength="10" value="@end_date_add" type="date" class="form-control">
            </div>
        </div>
            <div class="col-md-1 text-end px-0">
                <label class="col-form-label px-0 text-nowrap">From Update</label>
            </div>
            <div class="col-md-2 text-start">
                <div class="input-group date">
                    <input id="start_upd" name="start_upd" maxlength="10" value="@start_date_upd" type="date" class="form-control">
                </div>
            </div>
            <div class="col-md-1 text-end px-0">
                <label class="col-form-label">To Update</label>
            </div>
            <div class="col-md-2">
                <div class="input-group date">
                    <input id="end_upd" name="end_upd" maxlength="10" value="@end_date_upd" type="date" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</form>

<!-- *** Grid Items ***-->

<table class="table table-sm table-hover list">
    <thead>
        <tr>
            <th class="text-left">Id</th>
            <th class="text-left">Name</th>
            <th class="text-left">Quantity</th>
            <th class="text-left">Price</th>
            <th class="text-left">Unique Code</th>
            <th class="text-left">Suppliers</th>
            <th class="text-left">Status</th>
            <th class="text-left">Add Date</th>
            <th class="text-left">Update Date</th>
        </tr>
    </thead>
    <tbody>
        @if (Model?.Items != null && Model.Items.Any())
        {
            <tr class="report-tr-bt-hr border-bottom-3 fw-bold">
                <td>
                    <span class="text-right">Total:</span>
                </td>
                <td>Unique:
                    @Model.TotalProducts </td>
                <td>
                    @Model.TotalQuantity
                </td>
                <td>
                    @Model.TotalPrice.ToString("C")
                </td>
                <td></td>
                <td>
                    @Model.TotalSuppliers
                </td>
                <td colspan="4">
                </td>
            </tr>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        <span>@item.Id</span>
                    </td>
                    <td>
                        <span>@item.Name</span>
                    </td>
                    <td>
                        <span>@item.Quantity</span>
                    </td>
                    <td>
                        <span>@item.Price.ToString("C")</span>
                    </td>
                    <td>
                        <span>@item.UniqueCode</span>
                    </td>
                    <td>
                        @foreach (var supplier in Model.Suppliers)
                        {
                            var selected_flag = supplier.Id == item.SuppliersId ? "selected" : "";
                            if(!string.IsNullOrEmpty(selected_flag))
                            {
                                <span>@supplier.Name</span>
                            }
                        }
                    </td>
                    <td>
                        @foreach (var status in Model.Statuses)
                        {
                            var selected_flag = int.Parse(status.Value) == item.Status ? "selected" : "";
                            if (!string.IsNullOrEmpty(selected_flag))
                            {

                                <span>@status.Text</span>
                            }
                        }
                    </td>
                    <td>
                        <span>@item.AddDate.Date.ToShortDateString()</span>
                    </td>
                    <td>
                        <span>@item.UpdDate.Date.ToShortDateString()</span>
                    </td>
                </tr>
            }
        }
        else
        { 
            <tr>
                <td colspan="9" class="text-center">No items available</td>
            </tr>  
        }
        <tr class="report-tr-hr border-top-3 fw-bold">
            <td colspan="2">
                <span class="text-right">Total:</span>
            </td>
            <td> 
                @Model.TotalQuantity
            </td>
            <td>
                @Model.TotalPrice.ToString("C")
            </td>
            <td></td>
            <td>
                @Model.TotalSuppliers
            </td>
            <td colspan="5">
            </td>
        </tr>
    </tbody>
  </table>

   